body{background: black;}
div
{
    text-align: left;
    font-size: 120%;
    padding-left: 5%;padding-right: 5%;
    color: white;
}
h1, .proximoCapitulo{text-align: center;}

.proximoCapitulo
{
    font-size: 120%;
}
.proximoCapitulo a
{
    color:aquamarine;
    border: 20%;
    text-decoration: none;
    display: block;
}
.AreaLinkProximoCapitulo
{
   padding: 5% 5% 3%; 
    
}
.proximoCapitulo a:hover
{
    
   text-decoration:underline; 
}
.autor{text-align: center;}
